/* Common css style */
body{
    font-family: 'Roboto', sans-serif;
   margin: 20px;


}
#upcoming:hover{

    background-color: red;
}
#blog:hover{

    background-color: red;
}
.container{
    margin-top: 20px;
    margin-left: 20px;
}
.mobileview-button{
   visibility: hidden;
   margin: 0 auto;
   background-color: red;
   padding: 10px;
   color:aliceblue;
   width: 80px;
   border-radius: 6px;
   text-align: center;
}

/* top header part css */
.header{
    color: white;
    background: black;
    width: 1221px; 
    margin: 0 auto;
    display: flex;
    border-radius: 30px;
    padding: 20px;
}
.header-text{
    width: 531px;
    text-align: left;
}
.header-text h1{

    font-weight: 700;
font-size: 70px;
}
.header-image img{
  padding-left: 20px;
    width: 100%;
    height: 100vh;
}
.button{
    margin: 20px;
    padding: 10px 30px;
    background-color: red;
    color: white;
    border-radius: 5px;
}
/* nav bar in main side design  */
.nav-bar{
width: 312px;
height: 312px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
background-color: #161616;



border-radius: 10px;
}
.nav-bar div{
   
   
 
    text-align: center;
    background-color: white;
    width: 252px;
    border-radius: 10px;
    height: 64px;
}
.nav-bar a{
    text-decoration: none;
    color: black;
}
.nav-bar div:focus{
    background-color: red;
}
main{
    display: flex;
    margin-left: 30px;
}
/* article section css */
.blogs{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 23px;
}

.blog{
    width: 290px;
    box-shadow: 1px 1px 1px  gainsboro;
    border-radius: 5px;
}
.blog img{
    width: 100%;
    margin-bottom: 9px;
}
.blog strong{

    padding: 9px 20px;
   
    border: 1px solid black;
}
.info-blog{
    display: flex;
    padding-bottom: 5px;
    justify-content: flex-start;
}
.info-blog div{
    margin-left: 7px;
}
/* footer side  */
footer{
    height: 240px;
    background-color: #161616;
    color: white;
    text-align: center;
    align-items: center;
    padding: 50px;
}
footer  a{
    color: white;
    text-decoration: none;
    
}
footer ul li{
    display: inline;
    margin: 20px;
}
.social-media{
    padding-bottom: 70px;

}
.social-media i{
    font-size: 30px;
    margin-left: 10px;
}


/* responsive for mobile */
@media only screen and (max-width:688px){
    .header{
        width: 100%;
        padding: 10px;
        justify-items:center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
       
        flex-direction: column;
    }
    .header-text{
        width: 300px;
    }
    .header-image img{
        width: 80%;
    }
    main{
        flex-direction: column;
    }
    .nav-bar{
        background-color: white;
    }
    .nav-bar div{
        border: 1px solid black;
    }
    .blogs{
        justify-items: center;
        grid-template-columns: repeat(1,1fr);
    }
  footer ul li{
    align-items: center;
    display: block;
  }
    
}
/* responsive for tablet */
@media only screen and (min-width:689px) and (max-width:1023px) {
    .header{
        width: 100%;
        
       margin: 0 auto;
        
      
      
    }
    .header-text{
        width: 300px;
        margin: 0 auto;
    }
    .header-image img{
        width: 80%;
    }
    main{
        flex-direction: column;
    }
    .nav-bar{
        background-color: white;
        flex-direction: row;
        
      margin: 0 auto;
    }
    .nav-bar div{
        border: 1px solid black;
        margin: 5px;
    }
    .blogs{
        justify-items: center;
        grid-template-columns: repeat(2,1fr);
    }
    .mobileview-button{
       visibility: visible;
    }
    footer{
        margin-top: 10px;

        width: 100%;
        flex-wrap: wrap;
    }
    
}

/* blog site style part */
.inner-blog{
    display: flex;
   
   justify-content: space-evenly;
   
}
.inner-details{
  text-align: center;
}
.inner-blog img{
    height:56px ;
    width: 93px;
}
